// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//JsTree
@import "~jstree/dist/themes/default/style.min.css";

// FullCalendar
@import "~fullcalendar/dist/fullcalendar.css";

// Datatables
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
@import "~datatables.net-responsive-bs4/css/responsive.bootstrap4.css";
//@import "~datatables.net-autofill-bs/css/autoFill.bootstrap.css";
@import "~datatables.net-buttons-bs4/css/buttons.bootstrap4.css";
@import "~datatables.net-colreorder-bs4/css/colReorder.bootstrap4.css";
@import "~datatables.net-fixedcolumns-bs4/css/fixedColumns.bootstrap4.css";
//@import "~datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.css";
//@import "~datatables.net-keytable-bs/css/keyTable.bootstrap.css";
//@import "~datatables.net-rowgroup-bs/css/rowGroup.bootstrap.css";
//@import "~datatables.net-scroller-bs/css/scroller.bootstrap.css";
@import "~datatables.net-select-bs4/css/select.bootstrap4.css";

//Codemirror editor
@import "~codemirror/lib/codemirror.css";

//Enhanced select box
@import "~select2/dist/css/select2.css";

//Datepickers
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.css";
@import "~flatpickr/dist/flatpickr.css";

//FontAwesome
//@import "~@fortawesome/fontawesome-free/css/all.css";

//Awesome Complete
//@import "~awesomplete/awesomplete.css";

//Material Design Icons
@import "~@mdi/font/scss/materialdesignicons.scss";
