css/
fonts/materialdesignicons-webfont.eot
fonts/materialdesignicons-webfont.svg
fonts/materialdesignicons-webfont.ttf
fonts/materialdesignicons-webfont.woff
fonts/materialdesignicons-webfont.woff2
js/
jstree/
tinymce/
